html {
  font-family: 'Montserrat', sans-serif;
  background-color: #EBF3F3;
}
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: blue;
    color: white;
  }

  .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formulario {
    text-align: center;
  }

  .inputnumber {
    width: 200px;
  }
  .inputtext {
    width: 400px;
  }

  .inputtextarea {
    resize: none;
  }

  .inputcorreo {
    width: 300px;
  }

  .inputfrutas {
    width: 200px;
  }

  .enviar {
    width: 70px;
    height: 35px;
    background-color: blue;
    color: white;
    cursor: pointer;
  }

  table {
    table-layout: auto;
    width: 70%;
    text-align: left;
    color: black;
    background-color: #DBDFEA;
    border: 1px solid blue;
  }

  td {
    height: 30px;
  }