html {
  font-family: "Montserrat", sans-serif;
  background-color: #e8cee8;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #732471;
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.maintop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  margin: 30px;
}

.categoriasimg {
  max-width: 200px;
}

.categoria1 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #f1f5b5;
}
.categoria2 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #f0b981;
}
.categoria3 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #ed8e74;
}
.categoria4 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #90effa;
}
.categoria5 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #b88ef1;
}
.categoria6 {
  align-self: center;
  place-self: center;
  text-align: center;
  border: 1px solid gray;
  background-color: #ef8ff3;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  justify-items: center;
  margin: 30px;
  background-color: #872E8A;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}