html {
  font-family: 'Montserrat', sans-serif;
  background-color: #EBF3F3;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: green;
    color: white;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .header {
      justify-content: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      color: #5BEF71;
  }
  .main{
    display: flex;
    flex-basis: max-content;
    justify-content: space-between;
    align-items: center;
  }
  .mainleft {
    border: 1px solid #333;
    text-align: left;
    width: 70%;
    text-transform: uppercase;
  }

  .mainright {
    text-align: center;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .mainleftbigtittle {
    padding: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin: 3px;
  }

  .mainleftcards {
    display: flex;
    padding: 3px;
    flex-basis: content;
    padding: 10px;
  }

  .mainleftimg {
    border-radius: 5px;
    border: 1px solid #333;
    max-width:300px;
  }
  .mainlefttittles {
    padding: 5px;
    margin: 1px;
    font-weight: bold;
  }

  .mainleftcontent {
    padding: 5px;
    justify-items: stretch;
    text-transform: initial;
    font-weight: lighter;
  }

  .cardright {
    border: 1px solid gray;
    margin: 5px;
    background-color: #C6E3CB;
  }

 .mainrightimg {
   max-width: 170px;
 }

 .cardtittleright {
  display: flex;
  flex-direction: column;
 }

 .cardrighttop {
   display: flex;
   margin: 10px;
   justify-content: space-between;
 }

 .mainrightacept {
    padding: 12px;
    margin: 5px;
    text-transform: uppercase;
    background-color: #199319;
    color: white;
    text-decoration: none;
    cursor: pointer;
 }

 .mainrightlater {
    padding: 12px;
    margin: 5px;
    text-transform: uppercase;
    background-color: #295EC8;
    color: white;
    cursor: pointer;
 }

 footer{
   background-color: #DCE7E7;
 }

  .footerbigtittle {
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
  }

  .footerimg {
    border-radius: 5px;
    border: 1px solid #333;
    max-width:200px;
    max-height: 110px;
    padding: 5px;
  }

  .footerimgcontainer{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-left: 20px;
  }