html {
    font-family: "Montserrat", sans-serif;
    background-color: #e8cee8;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #732471;
    color: white;
  }
  
  .tittle {
    text-align: center;
    text-transform: uppercase;
  }


  footer {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(320px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    margin: 30px;
    background-color: #872E8A;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: black;
  }

  main {
    width: 90%;
    max-width: 1000px;
    margin: 10px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    background-color: #D3B1E2;
  }

  main > div {
    padding: 10px;
  }

  main > h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin: 20px;
    font-size: 1.8em;
  }
  
  main .descripcion {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    padding: 10px;
  }

  main .videocurso {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: auto;
  }

  main .temas {
    grid-row: span 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    padding: 20px;
  }

  main .objetivos {
    grid-row-start: 3;
    grid-column-start: 2;
    margin: auto;
    padding: 10px;
  }

  main .redes {
    grid-row-start: 4;
    grid-column-start: 2;
  }

  main .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .redes .listaredes {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 15;
    padding: 5px;
  }

  main .contacto {
    grid-row-start: 5;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    border: 1px solid #8F8693;
  }

  main .contacto > h4 {
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    font-size: 1.4em;
  }

  .contacto textarea {
    margin: 0;
    border-radius: 2px;
    resize: none;
    font-size: 1.1rem;
  }

  .inputtext, .inputcorreo {
    color: #333;
    font-size: 1.1rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 50%;
    border-bottom: 0.3rem solid transparent;
  }

  main .contacto .aceptar {
    display: flex;
    margin: 5px;
  }

  main .contacto .aceptar input{
    padding: 8px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 8px 8px 8px 8px;
  }

  main .nuevoscurso {
    grid-row-start: 6;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
  }

  main .nuevoscurso > h3 {
    grid-column: span 4;
    text-align: center;
    text-transform: uppercase;
  }

  main .nuevoscurso > div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid gray;
  }

  .nuevocurso section {
    display: flex;
    padding: 10px;
  }

  .nuevocurso img {
    margin-right: 20px;
  }

  .nuevocurso a {
    font-size: 1.2em;
  }
  .nuevocurso p {
    padding: 10px;
    font-size: 1em;
  }